<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <main class="w-full min-h-screen bg-black text-white flex items-center justify-center">

        <div class="wrapper flex gap-4">
            <a href="/auth/signup" class="text-black bg-white px-4 py-2 rounded-md font-semibold">Signup</a>
            <a href="/auth/login" class="text-black bg-white px-4 py-2 rounded-md font-semibold">Login</a>
        </div>
    </main>

    
</body>
</html>